# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Storyboarder.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Repositories\RiderProjects\Storyboarder\.idea\.idea.Storyboarder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
